@model GameInventory.RecentGame

<tr>
    <td>
        @Html.DisplayFor(modelItem => Model.Title)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.DeveloperId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.RegionId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.PublisherId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.HasCase)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.HasManual)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.ModelName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.HasAccessory)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.OwnerId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.Notes)
    </td>
    <td>@if (User.Identity.IsAuthenticated)
        {
            @Html.ActionLink("Edit",
                     "Edit",
                     "Games",
                     new { id = Model.GameId },
                     null
              )
            <br/>
        }
        @Html.ActionLink("Details",
               "Details",
               "Games",
               new { id = Model.GameId },
               null
        )
    </td>
</tr>