@model GameInventory.GameOwner

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>GameOwner</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GameOwnerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GameOwnerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OwnerUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnerUserId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GameOwnerId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
