@model IEnumerable<GameInventory.CompanyRelationship>

@{
    ViewBag.Title = "Game Company Relationships";
}

<link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="~/Content/datatables.min.css" />
<script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="~/Scripts/datatables.min.js"></script>
<h2>Game Company Relationships</h2>
<h4>Total: @Model.Count()</h4>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="RelationshipTable" class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GameCompany.GameCompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GameCompany1.GameCompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyRelationshipType.CompanyRelationshipTypeName)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.GameCompany.GameCompanyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GameCompany1.GameCompanyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyRelationshipType.CompanyRelationshipTypeName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.CompanyRelationshipId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.CompanyRelationshipId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.CompanyRelationshipId })
                </td>
            </tr>
        }
    </tbody>
</table>
<script type="text/javascript">
    $("#RelationshipTable").DataTable();
</script>

