@model IEnumerable<GameInventory.Platform>

@{
    ViewBag.Title = "Platforms";
}

<link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="~/Content/datatables.min.css" />
<script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="~/Scripts/datatables.min.js"></script>
<h2>Platforms</h2>
<h4>Total: @Model.Count()</h4>

@if (User.Identity.IsAuthenticated)
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
<table id="PlatformTable" class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PlatformName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GameCompany.GameCompanyName)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PlatformName)
                </td>
                <td>
                    @Html.ActionLink(item.GameCompany.GameCompanyName, "Details", "GameCompanies", new { id = item.CompanyId }, null)
                </td>
                <td>
                    @if(User.Identity.IsAuthenticated)
                    { 
                        @Html.ActionLink("Edit", "Edit", new { id = item.PlatformId }) @:|
                        @Html.ActionLink("Details", "Details", new { id = item.PlatformId }) @:|
                        @Html.ActionLink("Delete", "Delete", new { id = item.PlatformId })
                    } else {
                        @Html.ActionLink("Details", "Details", new { id = item.PlatformId })
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">
    $("#PlatformTable").DataTable();
</script>
